<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        >
    <testsuites>
        <testsuite name="Pagination Test Suite">
            <directory>source</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>source</directory>
            <exclude>
                <directory>source/Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
